body {
  font-family: Arial;
}

.encabezado {
  position: absolute;
  right: 10px;
}

a:visited {
  color: grey
}

a:link {
  color: grey;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  font-size: 13px;
}

a:hover {
  text-decoration: underline;
}

div input {
  height: 36px;
  line-height: 27px;
  background-color: royalblue;
  border: none;
  cursor: default;
  font-family: arial, sans-serif;
  border-radius: 2px;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  color: white;
}

.search {
  font-family: Arial;
  max-width: 650px;
  display: block;
  height: 30px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 200px;
}

.googlesearch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 220px;
}

center {
  display: block;
  text-align: center;
}

.button {
  height: 36px;
  line-height: 27px;
  background-color: gainsboro;
  border: none;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  color: #757575;
  border-radius: 2px;
}

.button:hover {
  border:1px solid grey;
}

.logo {
  background-size: 272px 92px;
  height: 92px;
  width: 272px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 180px;
}

form {
  background-color: gainsboro;
  height: 40px;
  min-width: 980px;
  border: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

form div a:link {
  color: grey;
  text-decoration: none;
  display: inline-block;
  padding: 0px 10px 0px 10px;
  font-size: 13px;
}

form div a:hover {
  text-decoration: underline;
}

.footerright {
  bottom: 10px;
  position: absolute;
  right: 20px;
}

.footerleft {
  bottom: 10px;
  position: absolute;
  left: 20px;
}
